main>#content{
  margin-top: 5.7em;
}

#sortSelect{
  width: 30%;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 0em;
}
.row.justify-content-center{
  flex-direction: column;
  margin-left: 10em;
}
.col-md-8{
  width: 80%;
  margin-top: 1em;
}

main>.sidebar{
  margin-top: 5.4em;
}
.botoooom{
  margin-left: 10em !important;
}
.sidebar a.active {
  border-right: 4px solid black;
  
  }

body {
  background-color: #ffffff;
  color: #0e0e0e;
}
main > header {
position: fixed;
  top: 0em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background-color: black;
  padding: 1em;
  z-index: 100;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}

#content label {
  font-weight: normal;
}
#content > form {

  margin: 0 auto;
margin-top: 10em;
  padding: 1em;
  max-width: 20em;
  
  border: 1px solid #7CB9E8;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form .success {
  font-weight: bold;
  color: #106af1;
}
#content > form input {
  background-color: white;
}
/* Default styling for the link */
a {
  color: #696969 !important;
  text-decoration: none !important; /* Remove underline by default */
  transition: color 0.7s !important; /* Add a smooth transition for the color change */
}
.form-control{
  font-size: 0.8em;
}

@media (max-width: 70em) {
  .card{
    width: 80% ;

  }

  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  .col-md-8{
    width: 100%;

  }
  .card{
    width:100%;

  }
  .row.justify-content-center{
    margin-left: 0em;
  }
  main>#content{
    margin-top: 0em;
  }
  .botoooom{
    margin-left: 0em !important;
  }
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
margin-top: 6em;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}








/**
 * Override milligram colors
 * Some styles might be missing
 **/
 button {
  background-color: #0000FF;
  border-color: #0000FF;
}
a.button {
  background-color: #0000FF;
  border-color: #0000FF;
}
a.button.button-outline {
  color: #0000FF;
}
a {
  color: #0000FF;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
border-color: #0000FF;
}
.questioncard,
.answercard {
      margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid black;
  padding: 2em;
  background-color: #FFFF;
}  

/* The side navigation menu */
.sidebar {
  border-top: 1px solid black;
margin: 0;
padding: 0;
width: 10em;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

/* Sidebar links */
.sidebar a {
  border-left: 1px  solid #0e0e0e;
  border-right: 1px solid #0e0e0e;
border-bottom: 1px solid #0e0e0e;
display: block;
color: black;
padding: 0.5em;
text-decoration: none;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #555 !important;
color: white !important;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.realcontent {
margin-left: 11em;

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 40em) {
  .sidebar a.active {
    border-right: 1px solid black;
      border-bottom: 4px solid black;
      

    
    }
  .container{
    margin-left: 0em ;
  }
  .realcontent{
    margin-left: 0em !important;
    margin-top: 0em !important;
    padding: 1em;
  }
  
  main>#content>.userpage{
    margin-left: auto;
  }
  #search>#sortSelect{
    width: 70%;
    margin-left: auto;
    margin-top: 0em;
  }
   .realcontent>#sortSelect{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }
  #gridable>#sortSelect{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }
  .realcontent>.searchbar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
  }

.userpage>#search > .searchbar {
  margin-left: 0em;
  margin-top: 0em;
}
div>.realcontent{
  margin-top: 0em;
  margin-left: 0em;
}
div.users{
  margin-top: 0em;
  margin-left: 0em;
}
#flexthis>#gridable{
  margin-top: 0em;
  margin-left: 0em;
}
section>.sidebar {
margin-top: 0em;
  width: 100%;
  height: auto;
  position: relative;
}
body>main > .sidebar{
  margin-top: 0em;
  position: relative;
  width: 100%;
  height: auto;
}
div > div > .sidebar{
  margin-top: 0em;
}
body > main > header{
    position: relative; 
}
#content{
  margin-left:0em !important;
}
.sidebar a {float: left;}
div.questionslist {margin-left: 0; margin-top: auto;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 30em) {
.sidebar a {
  text-align: center;
  float: none;
}

}
body {
margin: 0;
}


#profile {
  display: inline-block;
  padding: 0em;
  background: none;
  border: none;
}

#profile img {
  width: 3.5em;
  height: 3.5em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1em;
  margin-bottom: 1.1em;
}


.questionslist{

  margin-left: 10em;
}

.realcontent > :first-child{
  margin-top: 0;
}

.userpage {
 /* Set the width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.users {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

.user {

  margin-bottom: 20px; 
}

.user > a {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  text-decoration: none;
  color: black;
}

.user > a > img {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.user > a > h2 {
  margin: 0;
  font-size: 1.2em;
}


#gridable{
margin-top: 5.7em;
margin-left: 10em;
}

.users{
  padding: 2em;
}





#search > .searchbar {
margin-left: 5em;

}
.correctbutton{
display:flex;
align-items: center;
}
.correctanswerButton{
  display:flex;

}

#edits{
  margin-top:7em;
}
.createquestionbutton>button{

  width:auto;
  font-size: 3em !important;
  border:2px solid black !important;
  height: auto   !important;
  line-height: 2em !important;
  font-size: 0.8em !important;
  color: black !important;
  margin-right: 1em !important;
  padding: 0.2em !important;


   text-transform: lowercase !important;
   letter-spacing: 0em !important;
   font-weight: 400 !important;
   border-radius: 10em !important;



}
.createquestionbutton{
  font-size: 1.5em;
  line-height: 1.5em !important;
  height: 2em;
  margin-left: 1em;
  margin-right: auto;
}
#content>.userpage{
  margin-left: 11em;
}


.users>.user>a{
  width: 9em;
}

    /* Links on mouse-over */
    a:hover {
      
    color: black !important;
    }


#fixable{
  margin-top:10.4em;
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.py-3.my-4{
  z-index: 2 !important;
}

header>h1>a{
  color: white !important;
}
header>h1>a:hover{
  color: gray !important;
}

