img{
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
}

h3{
    margin-top: 1em;
}

#content{
    margin-top:13em;
}

#editcontent{
    width:70%;
    margin-left: 10em;
}
.botoooom{
    margin-left: 10em;
  }

@media screen and (max-width: 50em) {
    #editcontent {
        width:100%;
        margin-left: 0em;
    }
    
}

.scrollable-badge-container {
    max-height: 12em; 
    overflow-y: auto;
}
