body{
    margin-top:20px;
    background-color: #f0f2f5;
}
.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}

section#content>div.container{
    margin-left: 10em ;
    width: 80%;
}
div.row{
    width: 100%;
}
div.row>div{
    width: 100%;
}
.dropdown-list-image{
    max-width: none;
    width: 4em;
}
.p-3{
    display: flex;
    justify-content: space-between;
}
.ml-auto{
    width: 5em;
}
.ml-auto>.text-right{
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-truncate{
    white-space:normal !important;
}
div.btn-group{
    margin: 0em;
}
div.btn-group >form{
    margin:0em;
}
div.btn-group >form>button{
    margin:0em;
}
span.ml-auto{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.pagination>.active>span{
    color: #FFF !important;
    background-color: black !important;
    border-color: black !important;
}

div.container>form{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
div.container>form>button{
    margin-top: 1em;
    background-color: black;
    border: black;
}
.dropdown-list-image{
    margin:0.6em !important;
}
@media (max-width: 50em) {
    section#content > div.container{
        margin-left: 0em;
        width: 100%;
    }
    #content form{
        margin-top: 0em !important;
    }
    
}