#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

}
#pagination>button {
    padding: 0em;
    animation-delay: 0.5s;
}
#pagination>button {
    margin: 0em !important;
    width: 2em;
}
#pagination :nth-child(1),
#pagination :last-child{
    width: 5em;
}



#pagination>button:hover:not(.active){
    background-color: #adadad !important;
}
#pagination>.active{
    background-color: black !important;
    color: white !important;
}

.pagination{
    justify-content: center;
}
nav>.pagination>li.page-item.active>span.page-link{
    background-color:black !important;
    border-color: black !important;
}