body {
    background-color: #ffffff;
  }

  main{
    margin: 0;
    padding: 0;
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: black;
    margin-bottom: 0;
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }
  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #d2afe7;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #106af1;
  }
  #content > form input {
    background-color: white;
  }
  @media (max-width: 70em) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
    }
    main > header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    main > header h1 {
      grid-row-end: span 2;
    }
  }
  @media (max-width: 50em) {
    #cards {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 25em) {
    body {
      margin: 0;
    }
    main > header {
      margin: 0;
      padding: 0.5em;
    }
    main > header span {
      margin: 0;
    }
    #content form {
      margin: 0;
      max-width: 25em;
    }
  }
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #0000FF;
    border-color: #0000FF;
    text-transform: none;
  }
  a.button {
    background-color: #0000FF;
    border-color: #0000FF;
  }
  a.button.button-outline {
    color: #0000FF;
  }
  a {
    color: #0000FF;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #0000FF;
  }
  
  #profile {
    display: flex;
    align-items: center;
  }
  
  #profile img {
    max-width: 6em;
    width: 6em;
    height: 6em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0em;
    margin-left: 0em;
  }
  #flexthis{
    display: flex;
  }

  aside{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    width: 12em;
  }

  aside > div{
    padding-left: 1em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    background-color: none;
  }

  .aside{
    background: none;
    border: none;
    color:black;
    text-decoration: none;
  }


  #additional{
    margin-top: 34em;
    margin-left: 1em;
  }

  #gridable{
    display: block;
    width: 100%;
  }

  section#info{
    justify-content: space-between;
    display: flex;
    align-items: center;

  }

  #username{
    margin-top: 1em;
  }

  #paylink{
    color:black;
    padding: 0.5em;
    border-radius: 1em;
  }
  #paylink>a{
    color:black !important;

  }

  #paylink > a{
    color: white;
  }

  #stats{
    display:flex;
    border: 1px solid black;
    height:4em;
    border-radius: 1em;
  }
  #stats > div{
    margin-left: 1em;
  } 
  #answers{
    margin-right: 1em;
  }



  #about > p{
    border: 1px solid black;
    padding: 1em;
    border-radius: 0.5em;
  }



  #Follow, #MyQuestions, #MyAnswers, #Profile, #MyBlocked{
    display:flex;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
  }

  aside div a{
    color:white;
  }


  #arrow{
    font-size: 2em;

  }

  #edit{
    margin-top:0.5em;
    margin-right: 1em;
  }

  #container{
    display: flex;
    align-items: center;
  }

  #gridable{
    padding: 1em;
  }

  #badges >ul{
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;

    list-style: none;
    display:flex;
    flex-direction: column;



  }
  #badges >ul>li{

    margin-bottom: 0em;
  }
  .badgename>span{
    color: white;
    background-color: black;
    padding: 0.4em;
    border-radius: 1em;
  }
  .badgedescription{
    margin-left: 1em;
    display: flex;
    align-items: center;
    font-size: 0.7em;
  }
  .badgecontent{
    display: flex;
    margin-bottom: 0.5em;
  }
  .button{
    font-size: 1em;
    font-weight: 400 !important;
    display: flex;
    border: 0px;
    background-color: rgba(158, 158, 158, 0.9) !important;
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em !important;
    width: auto;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    color:black !important;
    transition: all 2s !important;
    text-transform: none;
  }
  header>div>.button{
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black !important;
    margin-bottom: 0em !important;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
  }

  .button:hover{
    background-color: rgb(141, 141, 141) !important;
    color:black !important;
  }
  #username>h1{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #edit{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #edit>form{
    display: flex;
    justify-content: center;
    
    margin-bottom: 1em;
  }
  header>div{

    display: flex;
    align-items: center;
  }
  p.date{
    display: flex;
    justify-content: flex-end;
  }


  @media (max-width: 70em) {
    #stats{
      margin-top: 0.5em;
      margin-bottom:0.5em ;
    }
    #info{
      display: flex;
      flex-direction: column;
    }
    div#container{
      display: flex;
      flex-direction: column;
    }
    
    .sidebar a {
      text-align: center;
      float: none;
    }  
  }

  

