#searchTagInput,
.searchbar {
    border: 2px solid #e8e8e8 !important;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    font-size: small;
    font-weight: bold;

}
   
select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc) !important;
    background-position: 
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em !important;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em !important;
    background-repeat: no-repeat !important;
  }
  
  select:focus {
    background-image:
      linear-gradient(45deg, #000 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #000 50%),
      linear-gradient(to right, #ccc, #ccc) !important;
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em !important;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em !important;
    background-repeat: no-repeat !important;
    border-color: #000 !important;
    outline: 0 !important;
  }
  
  

  
#searchTagInput:focus,
.searchbar:focus {
    outline-color: black !important;
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px #888888;
}
#searchTagInput,
.searchbar{
  display: block;
  margin-right: auto;


  width: 70% !important;
}


button {

  font-size: 3em !important;
  border: 0em solid black !important;

  line-height: 2em !important;
  font-size: 1em !important;
  color: black !important;
  margin-right: 1em !important;
  background-color: rgba(0, 0, 0, 0.1) !important;

  text-transform: lowercase !important;
  letter-spacing: 0em !important;
  font-weight: 400 !important;
  border-radius: 1em !important;
  transition: all 0.7s !important;
  margin-bottom: 0em !important;
}
.botoooom{
  margin-left: 10em ;
}