.Tagcard{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em !important;
    border: 1px solid grey;
    width: 10em;	
}

.Tagcard>.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: stretch; */
    align-items: baseline;
    
    font-size: 0.8em;

}

.Tagcard>.content>a{

    margin: 0.3em;
    padding: 0.3em;
    background-color: rgba(173, 204, 230, 0.5);
    border-radius: 0.5em !important;
}


.Tagcard>.content>a:hover{
    color: #0000FF;
    background-color: rgb(173, 204, 230, 1);

}


#Tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.Tagcard>.content>p{
    margin-top: 0.3em;


}
.Tagcard >.content>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Tagcard >.content>div>form>button{
    font-size: 0.9em !important;
    margin-right: 0.1em !important;
    display: flex;
    padding: 0.5em;
    height: 2em;
    align-items: center;
}
.Tagcard >.content>div>form{
    margin-bottom: 0.2em;
}
.followed{
    background-color: rgb(21, 21, 21) !important;
    color: white !important;
}
.Tagcard >.content>div>form{
    margin-top: 0em !important;
}
.delete>span:hover{
    color: red;
}
.edit>span:hover{
    color: #FFF;
}